@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Arial', sans-serif; /* Fuente estándar bancaria */
  }
}

@media print {
  @page {
    size: letter;
    margin: 5mm; /* Margen muy pequeño, controlaremos el resto con padding */
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  /* Ocultar todo excepto el área de impresión */
  body * {
    visibility: hidden;
  }
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Repetir encabezados de tabla en cada página */
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
  tr { page-break-inside: avoid; }
}